/*
Modules: Forum
-----------------------*/
.forumpost {
    border-collapse:separate;
    border-style:solid;
    border-width:0;
    margin-top:10px;
    margin-bottom: 30px;
    width: 100%;
}


.forumpost .row.maincontent {
    background: #fff none no-repeat;
}
.forumpost .row.header {
    /*background: #fff url([[pix:theme|forum/gradient]]) repeat-x 43px 100%;*/
    background-color: #F1EFE7;
    padding: 5px;
    border:0px;
    border-radius: 3px 3px 0 0;
    width: auto;
    /*min-height: 3em;*/
}
.forumpost .picture img {
    margin: 4px 4px 0 0;
}
.forumpost .content .posting {
    margin-top: 15px;
    max-width:100%;
    overflow:auto;
}
.forumpost .topic a:link,
.forumpost .topic a:visited {
    color: #555;
}

.forumpost .options {
  margin-top: 20px;
  border-top: 1px solid #F1EFE7;
  border-bottom: 1px solid #F1EFE7;
}

.forumpost .row .left {
  width: 10px;
}

.forumpost .row .left.picture {
  width: 43px;
}

.forumpost .row .topic,
.forumpost .row .content-mask,
.forumpost .row .options {
  margin-left: 0;
}

.path-mod-forum .forumheaderlist .discussion .starter {
    border-left: 0 none;
    vertical-align: middle;
}
.path-mod-forum .forumheaderlist .discussion.r1 {
    background-color: #ededed;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #d9d9d9;
}
.path-mod-forum .forumheaderlist {
    border: 1px solid #ccc;
    border-collapse: separate;
    margin-top: 10px;
    width: 100%;
}
.path-mod-forum .forumheaderlist th.header {
    background-color: #abc;
    border-bottom: 1px solid #036;
}
.path-mod-forum .forumheaderlist td {
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 0 0;
}
/*
Grader Report
-----------------------*/
.user-grade td.oddd1 {
    background-color: #def
}
.user-grade {
    border: 1px solid #abc;
}
.user-grade td.b1l, .user-grade td.b2l {
    border-left: 2px solid #aaa;
}
.user-grade td.b1b, .user-grade td.b2b {
    border-bottom: 2px solid #aaa;
}
.user-grade td.b1t, .user-grade td.b2t {
    border-top: 2px solid #369;
}
tr.discussion td.replies { text-align: center;}
/*
AJAX User Enroller Panel
-----------------------*/
.user-enroller-panel {
    width:400px;
    background-color:#666;
    position:absolute;
    top:10%;
    left:10%;
    border:1px solid #666;
    border-width:0 5px 5px 0;
    z-index: 99999!important;
}