/* Custom Menu
-------------------------- */
#custommenu {
    width: 100%;
    margin: 0;
    padding: 0;
    clear:both;
    height: 30px;
    background: transparent;
    margin:0;
}

#custommenu ul li {
    border-right: 0px ;
    border-left: 0px ;
}
/*
Dropdown Menu - CSS from DeCaf Theme by Lei Zhang
-------------------------------------------------*/
ul.dropdown span.customitem {
    padding:0;
    border:0;
    width: 100%;
}
ul.dropdown span.customitem {
    padding:0;
    width: 100%;
}
/*Space between list items*/
ul.dropdown li a,
ul.dropdown span.customitem a {
    padding:4px 10px;
}
ul.dropdown span.customitem a:hover {
    border: 0;
}
/* Width of background of Menu*/
#custommenu ul.dropdown ul {
    padding:0;width:100px;
}
#custommenu ul.dropdown ul a {
    padding:2px 0px 2px 15px;
}
#custommenu ul.dropdown > li span a {
    height:16px;
}
ul.dropdown,
ul.dropdown li,
ul.dropdown ul {
    list-style:none;
    margin:0;
    padding:0;
}
ul.dropdown {
    position:relative;
    top:0px;
    z-index:597;
    float:left;
    /*font:13px "Trebuchet MS",Arial,Helvetica,sans-serif;*/
    font-family: Geneva,Tahoma,"Nimbus Sans L",sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}
ul.dropdown li {
    margin-right: 11px;
    float:left;
    line-height:1.3em;
    vertical-align:middle;
    background-color:transparent;
    color:#fff;
    zoom:1 !important;
}

ul.dropdown li.hover,
ul.dropdown li:hover {
    position:relative;
    z-index:599;
    cursor:default;
}
ul.dropdown ul {
    visibility:hidden;
    position:absolute;
    top:100%;z-index:598;
    left:auto;
    right:0;
    margin-top: -1px;
    /*font:100% "Trebuchet MS",Arial,Helvetica,sans-serif;*/
}
ul.dropdown ul li {
    float:none;
    background-color: #574A35;
    border-width: 1px;
    border-style: solid;
    border-color: #477C9B #574A35 #295770;
    padding:0;
}
ul.dropdown ul ul {
    top:0;
    right:auto;
    left:100%;
    margin-top:0;
    border-top:none;
    border-left:none;
    font-weight:400;
}
ul.dropdown li:hover > ul {
    visibility:visible;
}
/* Width of Menu Title*/
ul.dropdown span,
ul.dropdown span a,
ul.dropdown li.clickable-with-children > a {
  background-color: #574A35;
    width:80px;
    padding:2px 6px 4px 20px;
    color: #fff;
}
ul.dropdown ul span,
ul.dropdown ul span a,
ul.dropdown ul li.clickable-with-children > a {
    background: #574A35 url([[pix:theme|menu/nav-arrow-right]]);
    background-position:100% 50%;
    background-repeat:no-repeat;
    color: #fff;
}
ul.dropdown ul ul span,
ul.dropdown ul ul span a,
ul.dropdown ul ul li.clickable-with-children > a {
    background: #574A35 url([[pix:theme|menu/nav-arrow-right]]);
    background-position:100% 50%;
    background-repeat:no-repeat;
    color: #fff;
}
ul.dropdown a:link, ul.dropdown a:visited {
    color: white;
    text-decoration: none;
}
ul.dropdown a:hover {
    border:0;
    text-decoration: underline;
    /*background-color: #fff;
    color: #036;*/
}
ul.dropdown ul ul li {
    background-color: #574A35;
}
ul.dropdown ul ul ul li {
    background-color: #574A35;
}
ul.dropdown li a,
ul.dropdown span,
ul.dropdown span a {
    border: none;
    background-color: transparent;
}
ul.dropdown ul li a,
ul.dropdown ul span,
ul.dropdown ul span a {
    border: 0;
}
ul.dropdown ul ul li a,
ul.dropdown ul ul span,
ul.dropdown ul ul span a {
    border:0
}
ul.dropdown ul ul ul li a,
ul.dropdown ul ul ul span,
ul.dropdown ul ul ul span a {
    border:0;
}
ul.dropdown a,ul.dropdown span{
    display:block;
}
/* Mouse Over Highlight Colour, subtract padding*/
ul.dropdown ul a {
    /*width:98px;*/
    width:85px;
    padding:2px 0 4px 5px;
}
ul.dropdown ul a.open:hover {
    background-color: #fff;
    color:#036;
}
ul.dropdown ul li:hover > span,
ul.dropdown ul li:hover > span a {
    background-color:#fff;
    background-image:url([[pix:theme|menu/ab-arrowover]]);
    color: #036;
}
ul.dropdown li.clickable-with-children:hover > a {
    background-image:url([[pix:theme|menu/ab-arrowover]]);
}
ul.dropdown *.open,
ul.dropdown li:hover > span,
ul.dropdown li:hover > span a {
    background-color:#fff;
    color: #036;
}
ul.dropdown ul ul *.open,
ul.dropdown ul ul li:hover > span,
ul.dropdown ul ul li:hover > span a {
    background-color:#fff;
    background-image:url([[pix:theme|menu/ab-arrowover]]);
    color:#036;
}
